<div class="header-bar">   
<div class="khanda">
    <div class="gurbani text-center">
<h1>Awie imlu gurisK Awie imlu </h1>
<h1>qU myry gurU ky ipAwr</h1>
</div>
</div>
       
     <div class="cantact-text">
    <div class="header-section pl-3 pb-4">
        <div class="header">
            <hr><div class="title">HOME</div>
        </div>
        <div class="sub-header">Contact Us</div>
        <div class="header-detail mb-4">
            Our main goal is to do the sewa by<br>
             following the Shiri Guru Granth Sahib JI
        </div>
    </div>
</div>
</div>

<div class="container contact-cards">
    <div class="row">
        <div class="col-3">
            <div class="contact-box">
                <h4><i class="fas fa-map-marker-alt"></i> Address</h4>  
                <p>
                    Ajit Nager Street No.9<br>
                    Faridkot, Punjab
                </p>
            </div>
        </div>

        <div class="col-3">
            <div class="contact-box">
                <h4><i class="fas fa-envelope"></i>Email</h4>  
                <p>
                    fateh1984@gmail.com<br>
                    example@gmail.com
                </p>
            </div>
        </div>

        <div class="col-3">
            <div class="contact-box">
                <h4><i class="fas fa-phone-alt "></i>  Phone</h4>  
                <p>
                    +919815856313<br>
                    +919592821693
                </p>
            </div>
        </div>

        <div class="col-3">
            <div class="contact-box">
                <h4><i class="fas fa-map-marker-alt"></i> Opening Hours</h4>  
                <p>
                    Ajit Nager Street No.9<br>
                    Faridkot, Punjab
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="get-in-touch">
                <h3>Get in Touch</h3>
                <p>Gurudwara Sahibzada Ajit Singh Also
                     known as Gurudwara Mata Khivi JI
                     Ajit Nager Street No.9 University Road
                     Faridkot ( Punjab )
                      </p>
              
            </div>
        </div>

        <div class="col-lg-8 col-md-12">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" required data-error="Please enter your name" placeholder="Name">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" required data-error="Please enter your email" placeholder="Email">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" required data-error="Write your message" placeholder="Message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13725.557783371234!2d74.7494071!3d30.6793169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1742ffcb231b945!2sGurudwara%20Mata%20khivi%20ji!5e0!3m2!1sen!2sin!4v1602850173239!5m2!1sen!2sin"
     width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

