<div class="header-bar">   
    <div class="khanda">
        <div class="gurbani text-center">
    <h1>Awie imlu gurisK Awie imlu </h1>
    <h1>qU myry gurU ky ipAwr</h1>
    </div>
    </div>
           
         <div class="cantact-text">
        <div class="header-section pl-3 pb-4">
            <div class="header">
                <hr><div class="title">Our Vision, Sewa</div>
            </div>
            <div class="sub-header">About Us</div>
            <div class="header-detail mb-4">
                Our main goal is to do the sewa by following<br>
                 the path of Shiri Guru Granth Sahib JI
            </div>
        </div>
    </div>
    </div>
    
    <div class="container-fluid about-section">
        <div class="row">
            <div class="col-4">
                <div class="img-bg"></div>
            </div>
            <div class="col-4">
                <p>
                    Distinctively re-engineer revolutionary meta-services and premium
                     architectures. Intrinsically incubate intuitive opportunities and
                      real-time potentialities. Appropriately communicate one-to-one
                       technology after plug-and-play networks.
                </p>
                <p>
                    Quickly aggregate B2B users and worldwide potentialities.
                     Progressively plagiarize resource-leveling e-commerce through 
                     resource-leveling core competencies. Dramatically mesh 
                     low-risk high-yield alignments before transparent e-tailers.
                </p>
                <p>
                    Appropriately empower dynamic leadership skills after business portals.
                     Globally myocardinate interactive supply chains with distinctive quality vectors.
                </p>
            </div>
            <div class="col-4">
                <p>
                    Distinctively re-engineer revolutionary meta-services and premium
                     architectures. Intrinsically incubate intuitive opportunities and
                      real-time potentialities. Appropriately communicate one-to-one
                       technology after plug-and-play networks.
                </p>
                <p>
                    Quickly aggregate B2B users and worldwide potentialities.
                     Progressively plagiarize resource-leveling e-commerce through 
                     resource-leveling core competencies. Dramatically mesh 
                     low-risk high-yield alignments before transparent e-tailers.
                </p>
                <p>
                    Appropriately empower dynamic leadership skills after business portals.
                     Globally myocardinate interactive supply chains with distinctive quality vectors.
                </p>
            </div>
        </div>
    </div>
