
<div class="container-fluid">
    <div class="row">
        <div class="wallpaper">
             <owl-carousel-o [options]="Options">
                <!--  <ng-template carouselSlide>
                    <div class="slide">
                        <div class="quotes mt-5 pt-5">
                  <div>Slavery Of Guru Granth Sahib Ji<br>
                   Is The Greatest <span class="kesri"> Liberation </span></div>
                    </div> 
                    </div>
                </ng-template> -->
                <ng-template carouselSlide>
                    <div class="slide">
                    <img src="../../../assets/images/harmandersahib.jpg" alt="">
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="slide">
                    <img src="../../../assets/images/banglasahib.jpg" alt="">
                    </div>
                </ng-template> -->
                </owl-carousel-o>
        </div>
    </div>
</div>


    <div class="schedule">
      <div class="text">
      <div class="header">
          <hr><div class="title">Timing</div>
      </div>
      <div class="sub-header">Schedule</div>
      <div class="details">
          <div class="heading">
              Morning
          </div>
          <ul>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Parkash:</div>
                  <div class="info"> 3:30 am to 3:45 am</div>
              </li>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Simren:</div>
                  <div class="info"> 3:45 am to 4:30 am</div>
              </li>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Nitnem:</div>
                  <div class="info"> 4:30 am to 5:30 am</div>
              </li>
          </ul>
      
          <div class="heading">
              Evening
          </div>
          <ul>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Kirtan:</div>
                  <div class="info"> 5:30 pm to 6:45 pm</div>
              </li>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Rehras Sahib:</div>
                  <div class="info"> 6:45 pm to 7:15 pm</div>
              </li>
              <li>
                  <i class="fas fa-clock mr-2"></i>
                  <div class="name"> Sukh Asan:</div>
                  <div class="info"> 7:30 pm to 7:45 pm</div>
              </li>
          </ul>
      </div>
      </div>
      <div class="image">
          <!-- Golden Temple timing section image div -->
      </div>
      </div>

<!-- langer sewa section -->
      <div class="langer-section">
        <div class="langer-bg">
            <div class="langer-image">
            </div>
        </div>
        <div class="lager-details">
            <div class="header">
                <hr><div class="title">FOOD SERVING</div>
            </div>
            <div class="sub-header">LANGER SEWA</div>
       
        <div class="text">
            <b style="color: #f8bc00;">Langer For Hospitals</b> is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 
             1500s, when an unknown printer took a galley of type and scrambled it 
             to make a type specimen book. It has survived not only five centuries, 
              and more recently with desktop publishing software like Aldus PageMaker
               including versions of Lorem Ipsum.</div>
    <div class="text mt-3">
               <b style="color: #f8bc00;">Langer In Gurdwara Sahib</b> is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 
             1500s, when an unknown printer took a galley of type and scrambled it 
             to make a type specimen book. It has survived not only five centuries, 
              and more recently with desktop publishing software like Aldus PageMaker
               including versions of Lorem Ipsum.<br>
        </div>
    </div>
    </div>
    

<div class="services">
    <!-- <div class="heder-area">
        Other Social Works
    </div> -->
    <div class="header-section pl-3 pb-4">
    <div class="header">
        <hr><div class="title">SEWA</div>
    </div>
    <div class="sub-header">Other Social Works</div>
    <div class="header-detail mb-4">
        There are some other social works, which are doing <br>
        by the Gurdwara Sahib are listed below.
    </div>
</div>
    <div class="carousel">
    <owl-carousel-o [options]="customOptions" class="pt-5">
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div lab">
                </div>
                <div class="slide-header">
                    Laboratory
                </div>
                <div class="detail-text">
                    There is a laboratory situated in 
                    Guruduwara Sahib. Which help the people
                    by giving them test result on 50% disccont.<br>
                   <div class="time"> Time 06:00am to 06:00pm</div> 
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div dental">
                </div>
                <div class="slide-header">
                    Detanl Treatment
                </div>
                <div class="detail-text">
                    Every Tuesday, Dental team comes in guruduwara
                    sahib for needy people and give them treatment on 
                    50% discount.<br>
                   <div class="time"> Time 09:00am to 12:00pm</div> 
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div vaccination">
                </div>
                <div class="slide-header">      
              Vaccination
                </div>
                <div class="detail-text">
                    Every Monday, Vaccination team comes in guruduwara
                    sahib for give them treatment  and
                     also provides some genral
                    medicine.<br>
                   <div class="time"> Time 09:00am to 12:00pm</div> 
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div clothes">
                </div>
                <div class="slide-header">      
                    Second Hand Clothes
                </div>
                <div class="detail-text">
                    Second Hand Clothes availabel in Gurdwara
                    Sahib for those who cannot afford 
                    the new clothes.
                    <div class="time"> Time 09:00am to 06:00pm</div> 
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div freezer">
                </div>
                <div class="slide-header">      
                    Body Freezer
                </div>
                <div class="detail-text">
                    Dead body freezer availabel in Gurdwara
                    Sahib for those who cannot afford the 
                    rent of body freezer.
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="img-div residence">
                </div>
                <div class="slide-header">      
                    Residence
                </div>
                <div class="detail-text">
                    Residence availabel for the patients.
                     who come for their treatment in Guru
                      Gobind Singh Medical College and Hospital
                </div>
            </div>
        </ng-template>
        
    </owl-carousel-o>
</div>
</div>


<div class="sewa">
    <div class="white">
    </div>
    <div class="pankti gurbani mt-5">
        ivic dunIAw syv kmweIAY ]<br>
        <span>In the midst of this world, do seva,</span>
    </div>
    <div class="pankti gurbani">
        qw drgh bYsxu pweIAY ]<br>
        <span>and you shall be given a place of honor in the Court of the Lord.</span>
    </div>
</div>


<div class="donation-section">
    <div class="container">
        <div class="header-section pl-3 pb-4">
            <div class="header">
                <hr><div class="title">JOIN</div>
            </div>
            <div class="sub-header">Contribute</div>
            <div class="header-detail mb-4">
                There are four different way by which you<br>
                can take part in social with us
            </div>
        </div>
        <div class="row">

            <div class="col-3 col-md-6 col-lg-3">
                <div class="donation-box">
                    <div class="icon-circle">
                        <img src="../../../assets/images/food.svg" alt="join">
                    </div>
                    <div class="title">Langar Sewa</div>
                    <div class="detail-text">
                        You can do the sewa by giving
                        any form of donation - cash or kind
                         (Raw Material ) for the langar sewa
                          is appreciated.
                    </div>
                </div>
            </div>

            <div class="col-3 col-md-6 col-lg-3">
                <div class="donation-box">
                    <div class="icon-circle">
                        <img src="../../../assets/images/join.svg" alt="join">
                    </div>
                    <div class="title">Join Us</div>
                    <div class="detail-text">
                        Join us in the Gurdwara Sahib for the
                         practical work of sewa like prepare
                          the langer, distribute the langer 
                          and in other so many works.
                    </div>
                </div>
            </div>

            <div class="col-3 col-md-6 col-lg-3 gap">
                <div class="donation-box">
                    <div class="icon-circle">
                        <img src="../../../assets/images/medicine.svg" alt="join">
                    </div>
                    <div class="title">Medical Care</div>
                    <div class="detail-text">
                        Medical help in form of medicines is 
                        also provided to the needy patients by 
                        the sewadars 
                    </div>
                </div>
            </div>

            <div class="col-3 col-md-6 col-lg-3 gap">
                <div class="donation-box">
                    <div class="icon-circle">
                        <img src="../../../assets/images/money.svg" alt="join">
                    </div>
                    <div class="title">Send Donation</div>
                    <div class="detail-text">
                        For Donations in India donate through bank.<br>
                        A/c: 50200032750384<br>
                        IFSC: HDFC0009206<br>
                        Name: Gurdwara Sahibzada Ajit Singh Charitable Society
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>